
body{
    
    background-color:#b1b40066;
}

.block{
    background-color: lightcyan;
}
.font-xo{
    font-family: 'Exo 2', sans-serif;
}
.font-my{
    font-family: 'Caveat', cursive;
}

.font-st{
    font-family: 'Satisfy', cursive;
}